<a href="https://colab.research.google.com/github/PradhyumnaBait/Python-Projects-GoogleColab/blob/main/PYthonChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Doubt Questions**

In [ ]:
length=int(input("Enter the length of list - "))

list=[]
for x in range(length):
  a=input("Enter the elements of list - ")
  list.append(a)
print(list)

Enter the length of list - 3
Enter the elements of list - a
Enter the elements of list - b
Enter the elements of list -
['a', 'b', '']

# 4/05/2025 - Day 1 - List

In [ ]:
a=["a","b","c","d"]
b=["x","y","z","aa"]

a.extend(b)
print(a)

['a', 'b', 'c', 'd', 'x', 'y', 'z', 'aa']

In [ ]:
a=["a","b","c","d"]
b=["x","y","z","aa"]

b.extend(a)
print(b)

['x', 'y', 'z', 'aa', 'a', 'b', 'c', 'd']

In [ ]:
a=["a","b","c","d",1,2,3]

a.remove(1)
a.remove("b")
print(a)

['a', 'c', 'd', 2, 3]

In [ ]:
a=["a","b","c","d"]
a.pop(1)
print(a)

['a', 'c', 'd']

In [ ]:
a=["a","b","c","d","e"]
a.pop()
print(a)

['a', 'b', 'c', 'd']

In [ ]:
a=["a","b","c","d"]
del a[1]
print(a)

['a', 'c', 'd']

In [ ]:
a=["a","b","c","d"]
a.clear()
print(a)

[]

In [ ]:
a=['b','a','d','g','z']
a.sort()
print(a)

['a', 'b', 'd', 'g', 'z']

In [ ]:
a=[6,3,1,4,5,6]
a.sort()
print(a)

[1, 3, 4, 5, 6, 6]

In [ ]:
a=['b','a','d','g','z']
a.sort(reverse=True)
print(a)

['z', 'g', 'd', 'b', 'a']

In [ ]:
a=[3,5,9,1,4,2,0,6,8,7]
a.sort(reverse=True)
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# Does not sort the List
# Only reverse

a=['b','a','d','g','z']
a.reverse()
print(a)

['z', 'g', 'd', 'a', 'b']

In [ ]:
a=['b','a','d','g','z']
b=a.copy()
print(b)

['b', 'a', 'd', 'g', 'z']

In [ ]:
a=['b','a','d','g','z']
b=['p','q','r']
c=a+b
print(c)

['b', 'a', 'd', 'g', 'z', 'p', 'q', 'r']

In [ ]:
a=['b','a','d','g','z']
b=[1,2,3]

for x in b:
  a.append(x)
print(a)

['b', 'a', 'd', 'g', 'z', 1, 2, 3]

In [ ]:
a=int(input("Enter The First Number - "))
b=int(input("Enter The Second Number - "))
c=int(input("Enter The Third Number - "))
d=[a,b,c]
print(d)

Enter The First Number - 1
Enter The Second Number - 2
Enter The Third Number - 3
[1, 2, 3]

In [ ]:
a=input("Enter the 1 element")
b=input("Enter the 2 element")
c=input("Enter the 3 element")
d=input("Enter the 4 element")
e=input("Enter the 5 element")

list=[a,b,c,d,e]
print(list)

Enter the 1 elementabc
Enter the 2 elementpqr
Enter the 3 elementxyz
Enter the 4 elementhello
Enter the 5 elementGoodBye
['abc', 'pqr', 'xyz', 'hello', 'GoodBye']

In [ ]:
a=["a","b","c","d"]

print(len(a))

4

In [ ]:
a=["a","b","c","d"]

for i in range(len(a)):
  print(i)

0
1
2
3

In [ ]:
a=["a","b","c","d"]
i=0
while i<len(a):
  print(i)
  i=i+1

0
1
2
3

# 5/05/2025 - Day 2 - List

In [ ]:
animal=['zebra','Antelope','Tiger','Chimpanzee','Lion']

print(animal)

['zebra', 'Antelope', 'Tiger', 'Chimpanzee', 'Lion']

In [ ]:
ages=[29,0,5,67,8,5,4]

print(ages)

[29, 0, 5, 67, 8, 5, 4]

In [ ]:
num=[10,15,'*',"Hello",True, False]*5

print(num)

[10, 15, '*', 'Hello', True, False, 10, 15, '*', 'Hello', True, False, 10, 15, '*', 'Hello', True, False, 10, 15, '*', 'Hello', True, False, 10, 15, '*', 'Hello', True, False]

In [ ]:
lst=[ ]

print(lst)

[]

In [ ]:
a=[2,1]
b=[1,2]

if a<b:
  print("a is Less than b")
elif a==b:
  print("A is Equal to b")
else:
  print("B is less than a")


if a>b:
  print("A is Greater than B")
elif a==b:
  print("A is Equal to B")
else:
  print("B is Greater than A")

B is less than a
A is Greater than B

In [ ]:
a=[1,2,3,4]
b=[1,2,3]

c=a+b

print(c)

[1, 2, 3, 4, 1, 2, 3]

In [ ]:
b=[1,1,1]

print(a+b+a+b)

[1, 2, 3, 4, 1, 1, 1, 1, 2, 3, 4, 1, 1, 1]

In [ ]:
b=["wow","Bhow","Makaow","Chow","Pakaow"]


print(len(b))

5

In [ ]:
abc=['apple','orange','tamatar','batata']


print(type(abc))

<class 'list'>

In [ ]:
abc=list(('abc','pqr','xyz'))


print(abc)

['abc', 'pqr', 'xyz']

In [ ]:
a=['apple','abc','cherry']

if a[1]=='ggg':
  print("Safarjan")
else:
  print("Bananna")

Bananna

In [ ]:
a=['apple','abc','cherry']
print(a[1])

abc

In [ ]:
a=['apple','abc','cherry']
print(a[-1])

cherry

In [ ]:
a=['apple','abc','cherry']
print(a[0:2])

['apple', 'abc']

In [ ]:
a=["a","b","c","d"]
a[1]="Master"
a[0]="Blaster"
print(a)

['Blaster', 'Master', 'c', 'd']

In [ ]:
a=["a","b","c","d"]
a[1:3]=["WOW","ABC"]

a[1]="Master"
a[0]="Blaster"

print(a)

['Blaster', 'Master', 'ABC', 'd']

In [ ]:
a=["a","b","c","d"]

a.insert(2,"Master")
print(a)

['a', 'b', 'Master', 'c', 'd']

In [ ]:
a=["a","b","c","d"]
a.append("Blaster")
print(a)

['a', 'b', 'c', 'd', 'Blaster']

In [ ]:
a=['b','a','d','g','z']
b=list(a)
print(b)

['b', 'a', 'd', 'g', 'z']

# While loop

In [ ]:
i=0

A=int(input("Enter the Number") )

while i<=A:
  print(i)
  i=i+1

Enter the Number10
0
1
2
3
4
5
6
7
8
9
10

In [ ]:
A=int(input("Enter the Ending number"))

i=A

while i>=0:
  print(i)
  i=i-1

Enter the Ending number5
5
4
3
2
1
0

In [ ]:
num=int(input("Enter The Table"))
end=int(input("Enter The End Number"))

i=1
while i<=end:
  print(num,"*",i,"=",num*i)
  i=i+1

Enter The Table5
Enter The End Number10
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
fact=1
i=1

num=int(input("enter the number:"))

while i<=num:
  fact=fact*i
  print(fact,end='    ')
  i=i+1

enter the number:5
1    2    6    24    120

In [ ]:

A=int(input("Enter the Number"))

i=A
while 1:
  print(i,end='    ')
  i-=1
  if i<5:
    break

Enter the Number15
15    14    13    12    11    10    9    8    7    6    5

In [ ]:
a=int(input("Enter The Table"))

i=a
while i<=a:
  j=1
  while j<11:
    k=i*j
    print(i,"x",j,"=",k)
    j=j+1
  i=i+1

Enter The Table5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# For loop

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [ ]:

for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
A=int(input ("Enter the starting number"))
B=int(input("Enter the ending number"))
C=int(input("Enter the difference "))

for i in range(A, B, C):
  print(i)

Enter the starting number5
Enter the ending number1
Enter the difference -1
5
4
3
2

In [ ]:

A=int(input("Enter the number"))

number=A

for i in range(1,10):
  print(number,'x',i,'=',number*i)

Enter the number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:

number=int(input("Enter Your Fav Table"))
end=int(input("Enter The End Value"))

for i in range(1,end+1):
  print(number,'x',i,'=',number*i)

Enter Your Fav Table5
Enter The End Value10
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:

A=int(input("Enter the number "))

fact=1
for i in range(1,A+1):
  fact=fact*i
  print(fact)

Enter the number 5
1
2
6
24
120

In [ ]:

# horizontal

for i in range(1,10):
  print(i,end='  ')

1  2  3  4  5  6  7  8  9

# For loop - Alpha

In [ ]:
for alpha in range(97,122+1):
  print(chr(alpha),end='  ')

a  b  c  d  e  f  g  h  i  j  k  l  m  n  o  p  q  r  s  t  u  v  w  x  y  z

In [ ]:
for alpha in range(122,96,-1):
  print(chr(alpha),end='  ')

z  y  x  w  v  u  t  s  r  q  p  o  n  m  l  k  j  i  h  g  f  e  d  c  b  a

In [ ]:
for alpha in range(65,91):
  print(chr(alpha),end='  ')

A  B  C  D  E  F  G  H  I  J  K  L  M  N  O  P  Q  R  S  T  U  V  W  X  Y  Z

In [ ]:
for alpha in range(91,64,-1):
  print(chr(alpha),end='  ')

[  Z  Y  X  W  V  U  T  S  R  Q  P  O  N  M  L  K  J  I  H  G  F  E  D  C  B  A

In [ ]:
for i in range(3,4):
  for j in range(1,11):
    k=i*j
    print(i,"x",j,"=",k)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
a=int(input("Enter The Table"))
for i in range(a,a+1):
  for j in range(1,11):
    k=i*j
    print(i,"x",j,"=",k)

Enter The Table5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 6/05/2025 - Day 3

In [ ]:
a=input("Enter the city")

if a.lower()=="mumbai":
  print("Local Train")
elif a.upper()=="NSP":
  print("capital mall")

Enter the citynsp
capital mall

In [ ]:
for x in range(10):
  print(x)
else:
  print("Completed")

0
1
2
3
4
5
6
7
8
9
Completed

In [ ]:
for x in range(10):
  if x==5:
    break
    print(x)
  else:
    print("Completed")

Completed
Completed
Completed
Completed
Completed

In [ ]:
for x in [0,1,2]:
  print(x)

0
1
2

In [ ]:
language="CProgramming"
for x in language:
  print(x)

C
P
r
o
g
r
a
m
m
i
n
g

In [ ]:
language="CProgramming"
for x in language:
  print(x,"\n")

C

P

r

o

g

r

a

m

m

i

n

g

In [ ]:
for i in range(1,3,1):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3

# 7/05/2025 - Day 4 - Tuple

In [ ]:
a=("Rahul","Suraj","Mitesh","Jayesh","Mitesh")
print(a)

('Rahul', 'Suraj', 'Mitesh', 'Jayesh', 'Mitesh')

In [ ]:
a=("Rahul","Suraj","Mitesh","Jayesh","Rahul")
print(len(a))

5

In [ ]:
a=("Rahul",123,True,"Jayesh",False)
print(a)

('Rahul', 123, True, 'Jayesh', False)

In [ ]:
a=("Rahul","Suraj","Mitesh","Jayesh","Rahul")
print(type(a))

<class 'tuple'>

In [ ]:
a=tuple(("Rahul","Suraj","Mitesh","Jayesh","Rahul"))
print(a)

('Rahul', 'Suraj', 'Mitesh', 'Jayesh', 'Rahul')

In [ ]:
a=("Rahul","Suraj","Mitesh","Jayesh","Rahul")
print(a[1])

Suraj

In [ ]:
a=("Rahul","Suraj","Mitesh","Jayesh","Rahul")
print(a[-1])

Rahul

In [ ]:
a=("Rahul","Suraj","Mitesh","Jayesh","Rahul")
x=int(input("Enter The Starting Range"))
y=int(input("Enter The Ending Range"))

print(a[x:y])

Enter The Starting Range2
Enter The Ending Range4
('Mitesh', 'Jayesh')

In [ ]:
a=("jigar","Darshan","Kapil","Ramesh")

x=input("Enter The Username - ")

if x.lower() or x.upper() in a:
  print("Yes it is Present")
else:
  print("No it is Not Present")

Enter The Username - ramesh
Yes it is Present

In [ ]:
a=("Jigar","Darshan","Kapil","Ramesh")
y=("Mahesh","Rahul")

a+=y
print(a)

('Jigar', 'Darshan', 'Kapil', 'Ramesh', 'Mahesh', 'Rahul')

In [ ]:
a=("Jigar","Darshan","Kapil")
(aa,bb,cc)=a
print(aa)
print(bb)
print(cc)

Jigar
Darshan
Kapil

In [ ]:
a=("Jigar","Darshan","Kapil","Ramesh")
(aa,*bb,cc)=a
print(aa)
print(bb)
print(cc)

Jigar
['Darshan', 'Kapil']
Ramesh

In [ ]:
a=("Jigar","Darshan","Kapil","Ramesh")
y=list(a)
y[1]="Kiwi"
x=tuple(y)
print(x)

('Jigar', 'Kiwi', 'Kapil', 'Ramesh')

# **10/06/2025 - Day 5 -Sets**

In [ ]:
a={"Karan","Arjun","Bhim","Ram","Vishal"}

print(a)

{'Vishal', 'Bhim', 'Ram', 'Arjun', 'Karan'}

In [ ]:
a={"Karan","Ram","Bhim","Ram","Karan"}

print(a)

{'Bhim', 'Ram', 'Karan'}

In [ ]:
a={"Karan","Arjun",1,True,False,0,2,3,4,5,6,6,6,6}

print(a)

{False, 1, 2, 3, 4, 5, 6, 'Arjun', 'Karan'}

In [ ]:
a={"Karan",True,1,0,False}

print(a)

print(type(a))

print(len(a))

{0, True, 'Karan'}
<class 'set'>
3

In [ ]:
a={"Jigar","Darshan","Kapil"}
b={1,3,4,5,6}
c={True,False,True}

print(a,b,c)

{'Kapil', 'Jigar', 'Darshan'} {1, 3, 4, 5, 6} {False, True}

In [ ]:
a={"Jigar","Darshan","Kapil"}
b={1,3,4,5,6}
c={True,False,True}
print(a)
print(b)
print(c)

{'Kapil', 'Jigar', 'Darshan'}
{1, 3, 4, 5, 6}
{False, True}

In [ ]:
a=set(("Jigar","Darshan","Kapil"))

print(a)

{'Kapil', 'Jigar', 'Darshan'}

In [ ]:
a={"Karan","Ram",True,1,0,False}

b=list(a)*2
x=set(b)

print(x)    # Same elemets are not repeated, even when multiplied.

{0, 'Ram', 'Karan', True}

In [ ]:
a={"Karan","Arjun","Ram"}
b={True,False}

x=list(a)
y=list(b)
c=x+y
z=set(c)

print(z)

{False, True, 'Karan', 'Arjun', 'Ram'}

In [ ]:
a={"karan","Arjun","ram","Sita",True,1,0,False}
x=list(a)

print(x[1])
print(x[0:2])

x[1]="MASTER"
x[2]="Hero"
y=set(x)

print(y)

True
[0, True]
{0, 'Arjun', 'karan', 'Sita', 'MASTER', 'Hero'}

In [ ]:
a={"Karan","Arjun","Vishal","Parth"}

check=input("Enter the element to find")

if check.lower() or check.upper() in a:
  print("Present")
else:
  print("Absent")

Enter the element to findkaran
Present

In [ ]:
a={"Karan","Arjun","Ram","Laxman"}
b=list(a)
b[1]="Sita"
x=set(b)
print(x)

{'Ram', 'Laxman', 'Karan', 'Sita'}

# **11/06/2025 - Day 6 -Dictionary**

In [ ]:
a={
    "name":"pradhyumna",
    "surename":"Bait",
    "Age":17,
    "Designation":"Programmer"
}

print(a)

{'name': 'pradhyumna', 'surename': 'Bait', 'Age': 17, 'Designation': 'Programmer'}

In [ ]:
a={
    "name":"pradhyumna",
    "surename":"Bait",
    "Age":17,
    "Designation":"Programmer"
}

print(a["Age"])
print(a["name"])

17
pradhyumna

In [ ]:
a={
    "name":"pradhyumna",
    "surename":"Bait",
    "Age":17,
    "Designation":"IT Field",
    "Designation":"Programmer",
    "Designation":"Programmer"
}

print(a)

{'name': 'pradhyumna', 'surename': 'Bait', 'Age': 17, 'Designation': 'Programmer'}

In [ ]:
a={
    "name":"pradhyumna",
    "surename":"Bait",
    "Age":17,
    "Designation":"Programmer"
}

print(len(a))

4

In [ ]:
a={
    "name":"pradhyumna",
    "surename":"Bait",
    "Age":17,
    "Designation":"Programmer",
    "fruit":
    {
        'Apple','chikoo','Kiwi','Mango'
    }
}

print(a)

{'name': 'pradhyumna', 'surename': 'Bait', 'Age': 17, 'Designation': 'Programmer', 'fruit': {'Mango', 'Kiwi', 'Apple', 'chikoo'}}

In [ ]:
a={
    "name":"pradhyumna",
    "surename":"Bait",
    "Age":17,
    "Designation":"Programmer"
}

print(type(a))

<class 'dict'>

In [ ]:
a=dict(name="pradhyumna",surename="Bait",Age=22,Designation="programmer")

print(a)

{'name': 'pradhyumna', 'surename': 'Bait', 'Age': 22, 'Designation': 'programmer'}

In [ ]:
a={
    "name":"pradhyumna",
    "surename":"Bait",
    "Age":17,
    "Designation":"Programmer"
}

check=input("Enter the element - ")

if check in a:
  print("Hello")
else:
  print("Chalo")

Enter the element - Age
Hello

In [ ]:
a={
    "name":"pradhyumna",
    "surename":"Bait",
    "Age":17,
    "Designation":"Programmer"
}

check=input("Enter the element - ")

print(a[check])

Enter the elementAge
17

In [ ]:
a={
    "name":"pradhyumna",
    "surename":"Bait",
}

b={
        "Age":17,
    "Designation":"Programmer"
}

c={**a, **b}
print(c)

{'name': 'pradhyumna', 'surename': 'Bait', 'Age': 17, 'Designation': 'Programmer'}

# **12/06/2025 - Day 7 - FUNCTION**

In [ ]:
def pradhyumna():
  print("Hello, World!")
pradhyumna()

Hello, World!

In [ ]:
def arthamatic():
  a=int(input("Enter the numbers - "))
  b=int(input("Enter the numbers - "))
  c=a+b
  d=a-b
  e=a*b
  f=a/b
  print("The Addition is - ",c)
  print("The Subtration is - ",d)
  print("The Multiplication is - ",e)
  print("The Division is - ",f)
arthamatic()

Enter the numbers - 15
Enter the numbers - 10
The Addition is -  25
The Subtration is -  5
The Multiplication is -  150
The Division is -  1.5

In [ ]:
def fact():
  a=int(input("Enter the 1st number - "))
  fact=1
  for i in range(1,a+1):
    fact=fact*i
  print(fact)
fact()

def swap():
  a=int(input("Enter the 1st value - "))
  b=int(input("Enter the 2nd value - "))
  c=a
  a=b
  b=c
  print("The 1st value after swap - ",a)
  print("The 2nd value after swap - ",b)
swap()

Enter the 1st number - 5
120
Enter the 1st value - 5
Enter the 2nd value - 10
The 1st value after swap -  10
The 2nd value after swap -  5

In [ ]:
def table():
  a=int(input("Enter the value - "))
  for i in range(1,10+1):
    ans=a*i
    print(a," x ",i," = ",ans)
table()

def prime():
  a = int(input("Enter the value - "))

  if a < 2:
    print("Not prime")
  else:
    is_prime = True
    for i in range(2, a):
        if a % i == 0:
            is_prime = False
            break

    if is_prime:
        print("Prime")
    else:
        print("Not prime")
prime()

Enter the value - 5
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
Enter the value - 5
Prime

In [ ]:
def rev():
  a=int(input("Enter the Number - "))
  rev=0
  while a != 0:
    rem=a%10
    rev=(rev*10)+rem
    a=a//10

  print("Reverse is - ",rev)
rev()

def sum():
  a=int(input("Enter the Number - "))
  sum=0
  while a != 0:
    rem=a%10
    sum=sum+rem
    a=a//10

  print("The sum of given number is - ",sum)
sum()

def abc():
  a=int(input("Enter teh Number - "))
  num=0
  while a != 0:
    rem=a%10;
    num=num+(rem*rem*rem)
    a=a//10

  print("The same number is - ",num)
abc()

Enter the Number - 135
Reverse is -  531
Enter the Number - 135
The sum of given number is -  9
Enter teh Number - 135
The same number is -  153

In [ ]:
def abc(fname):
  print(fname," Prajapati")

abc("Jigar")
abc("Ramesh")
abc("Suresh")
abc("Tripuresh")

Jigar  Prajapati
Ramesh  Prajapati
Suresh  Prajapati
Tripuresh  Prajapati

In [ ]:
def abc(fname):
  print(fname,a)
a=input("Enter the surename -")
b=input("Enter the 1 name -")
c=input("Enter the 2 name -")
d=input("Enter the 3 name -")
e=input("Enter the 4 name -")
abc(b)
abc(c)
abc(d)
abc(e)

Enter the surename -Bait
Enter the 1 name -Pradhyumna
Enter the 2 name -Vishal
Enter the 3 name -Karan
Enter the 4 name -Arjun
Pradhyumna Bait
Vishal Bait
Karan Bait
Arjun Bait

In [ ]:
def xyz(fname,lname):
  print(fname+" "+lname)
xyz("Jigar","Prajapt")

Jigar Prajapt

In [ ]:
def xyz(fname,lname):
  print(fname+" "+lname)

a=input("Enter The First Name")
b=input("Enter The Last Name")

xyz(a,b)

Enter The First NamePradhyumna
Enter The Last NameBait
Pradhyumna Bait

In [ ]:
def abc(a,b,c):
  print("The First name is - ",a)
  print("The Second name is - ",b)
  print("The Third name is - ",c)
p=input("enter the name - ")
q=input("enter the name - ")
r=input("enter the name - ")
abc(p,q,r)

enter the name - Path
enter the name - Yash
enter the name - Bhavesh
The First name is -  Path
The Second name is -  Yash
The Third name is -  Bhavesh

In [ ]:
def school(standard="12th"):
  print("I am in ",standard)

school("11th")
school("10th")
school()
school("9th")

I am in  11th
I am in  10th
I am in  12th
I am in  9th

In [ ]:
def ppp(a):
  for x in a:
    print(x)

a=["Mango","Graps","Apple","Chiku","Santra"]
ppp(a)

Mango
Graps
Apple
Chiku
Santra

In [ ]:
def compare():

  a=int(input("Enter The First Number"))
  b=int(input("Enter The Second Number"))
  c=int(input("Enter The Third Number"))

  if a>b and a>c:
    print("A is Bigger",a)
  elif b>a and b>c:
    print("B is Bigger",b)
  else:
    print("C is Bigger",c)

  if a<b and a<c:
    print("A is Smaller",a)
  elif b<a and b<c:
    print("B is Smaller",b)
  else:
    print("C is Smaller",c)
compare()

Enter The First Number1
Enter The Second Number2
Enter The Third Number3
C is Bigger 3
A is Smaller 1

In [ ]:
def result(a):

  a=int(input("Enter Your Marks - "))

  if a>40:
    return "You are Pass"
  else:
    return " You are Fail"

print(result(a))

Enter Your Marks - 32
 You are Fail

In [ ]:
count = 0
def doit(x):
  global count
  count = count + 1
  return x + 1

tst = [1,2,3,4,5,7,9,11]

for i in range(len(tst)):
  if tst[i] % 2!=0:
    tst[i] = doit(tst[i])
print(count)

6

In [ ]:
# When numbr of parameters or arguments are unknown that time use special symbol - *

def name(*first):
  print("The name of person is "+first[1]+ " and "+first[2])

name("Pradhyumna","Karan","Yash")

The name of person is Karan and Yash

In [ ]:
def name(a,b,c):
  print("The first name of the person is - ",c)

name(a="Pradhyumna",b="Yash",c="")

# **17/06/2025 - Day 8 - Date and Time Module**

In [ ]:
import datetime

x = datetime.datetime.now()

print(x)

2025-06-17 15:16:10.665340

In [ ]:
import datetime

a = datetime.datetime.today()

print(a)

2025-06-17 15:16:47.140814

In [ ]:
import datetime
b = datetime.datetime.today()

print(b.year)
print(b.month)
print(b.day)

2025
6
17

In [ ]:
from datetime import datetime

time = datetime.now()

a = time.strftime('%H / %M / %S')

print("Current time is - ",a)

Current time is -  11 / 35 / 34

In [ ]:
import datetime
import time

# Get current date and time
now = datetime.datetime.now()
print("Now - ",now)

# Current date only
date = datetime.date.today()
print("Date is - ",date)

# Current time only
time = datetime.datetime.now().time()
print("Time is - ",time)

Now -  2025-06-18 11:39:29.199848
Date is -  2025-06-18
Time is -  11:39:29.200082

In [ ]:
# Custom Date and time

import datetime
import time

# Custiom date : year, month, day
d = datetime.date(2025, 6, 17)
print("Custom date - ",d)

#Custom time : Hour, min, time
t = datetime.time(14, 30, 50)
print("Custom time - ",t)

#Custom date and time both
dt = datetime.datetime(2025, 6, 17, 14, 30, 17)
print("Custom date time is - ",dt)

Custom date -  2025-06-17
Custom time -  14:30:50
Custom date time is -  2025-06-17 14:30:17

In [ ]:
# Access date and time components

import datetime
import time

now = datetime.datetime.now()

print("Year - ", now.year)
print("Month - ",now.month)
print("Day - ",now.day)
print("Hour - ",now.hour)
print("Minate - ",now.minute)
print("Seconds - ",now.second)

Year -  2025
Month -  6
Day -  18
Hour -  11
Minate -  48
Seconds -  1

In [ ]:
# Formating date and time

import datetime
import time

now = datetime.datetime.now()

# Format using strftime
print("Formated - ", now.strftime("%Y-%m-%d  %H:%M:%S"))

# Other formating
print(now.strftime("%d/%m/%y"))
print(now.strftime("%I-%M-%p"))  # 12-hour clock
print(now.strftime("%A, %B, %d, %Y"))  # Full weekday, month name

Formated -  2025-06-18  11:53:32
18/06/25
11-53-AM
Wednesday, June, 18, 2025

In [ ]:
# Converting string to date ( Strptime )

import datetime
import time

date_sting = "18-06-2025"

d = datetime.datetime.strptime(date_sting, "%d-%m-%Y")
print("Parsed date - ",d)

Parsed date -  2025-06-18 00:00:00

In [ ]:
# Date arithmetic with timedelta

import datetime
import time

# add/ subtract days
today = datetime.date.today()
tommorow = today + datetime.timedelta(days=1)
yesterday = today - datetime.timedelta(days=1)

print("Todays date is - ",today)
print("Tommorows date will be - ",tommorow)
print("Yesterdays date was - ",yesterday)

# add/subtract time
now = datetime.datetime.now()
after_2hrs = now +  datetime.timedelta(hours=2)
before_2hrs = now - datetime.timedelta(hours=2)

print("Current time is - ",now)
print("After 2hrs time will be - ",after_2hrs)
print("Before 2hrs time was - ",before_2hrs)

Todays date is -  2025-06-18
Tommorows date will be -  2025-06-19
Yesterdays date was -  2025-06-17
Current time is -  2025-06-18 12:11:40.426515
After 2hrs time will be -  2025-06-18 14:11:40.426515
Before 2hrs time was -  2025-06-18 10:11:40.426515

In [ ]:
# Pause Exection

print("Wait 5 seconds")

time.sleep(5)
print("Done!")

Wait 5 seconds
Done!

In [ ]:
# Unix Timestamps

# Get timestamp from datetime
now  = datetime.datetime.now()
time_stamp = now.timestamp()
print("Unix TimeStamp - ",time_stamp)

# Conver timestamp to datetime
dt_from_ts = datetime.datetime.fromtimestamp(time_stamp)
print("Date time from timestamp - ",dt_from_ts)

Unix TimeStamp -  1750249064.635756
Date time from timestamp -  2025-06-18 12:17:44.635756

In [ ]:
# Comparing dates

d1 = datetime.date(2025, 6, 18)
d2 = datetime.date(2025, 7, 1)

print("Is d1 > d2 ?", d1 > d2)
print("Difference is - ",d1 - d2)

Is d1 > d2 ? False
Difference is -  -13 days, 0:00:00

In [ ]:
# Get Weekdays

today = datetime.date.today()

print("Weekday (0=Monday): ",today.weekday())
print("Weekday (0=Sunday): ",today.isoweekday())  # 1=Monday ... 7=Sunday

Weekday (0=Monday):  2
Weekday (0=Sunday):  3

In [ ]:
# Get the ISO Format of DateTime

now = datetime.datetime.now()
print("ISO Format:", now.isoformat())

ISO Format: 2025-06-18T12:53:03.274626

In [ ]:
# Check if Date is a Weekend

d = datetime.date.today()
if d.weekday() >= 5:
    print("Weekend!")
else:
    print("Weekday.")

Weekday.

In [ ]:
# Display Calendar for a Month (Text)

import calendar

year = 2025
month = 6

print(calendar.month(year, month))

     June 2025
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30